<footer class="main-footer_corvus">
    <div class="wrapper_corvus">
        
        <a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a>
        <a href="http://twitter.com/kevinmeurer"><i class="fa fa-twitter"></i></a>
        <a href="http://linkedin.com/in/kevinmeurer"><i class="fa fa-linkedin"></i></a>
        <a href="http://github.com/kmeurer"><i class="fa fa-github"></i></a>
        
        <p>All content copyright <a href="/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</br>
    </div>
</footer>
