{{!< default}}

{{> header}}

<main role="main">
    <div class="wrapper_corvus">
        {{#post}}
        <h1 class="pagetitle_corvus">{{title}}</h1>
        <div class="box_corvus center-post_corvus">
            <div class="margin-page_corvus">
                <div class="postcontent_corvus">
                    {{content}}
                </div>
            </div>
        </div>
        {{/post}}
    </div>
</main>

{{> footer}} 